* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}



a {
  text-decoration: none;
  color: white;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(10, 1, 1);
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.menu{
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; 
    margin: auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

.flex p {
    text-align: center;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: auto;
    grid-gap: 20px
}

.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar > div {
    margin-bottom: 10px;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: auto;
    grid-gap: 20px;
    padding: 10px;

}

.grid-item1 {
    grid-row: 1 / 3;
}

.grid3 > div:nth-child(n + 2){
    max-width: 356px;
}

.grid-item{
    display: grid;
}

.grid-item img{
    grid-column: 1;
    grid-row: 1/3;
}

.grid-item p{
    background-color: black;
    color: #ffff;
    padding: 10px;
    grid-column: 1;
    grid-row: 2;
}

.ft{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #ffff;
    margin-top: 10%;
    align-items: center;
}
.links {
    display: flex;
}


@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2,     1fr);
    }  
    
    .grid1 > div:nth-child(n+4){
        display: block;
    }

    .grid1 > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }

    .grid2 {
        grid-template-columns: 1fr;
    }
}
